<!DOCTYPE html>
<html>
  <%- include('./head'); %>
  <body>
    <% if (kks.length) { %>
    <!--  -->
    <%- include('./header'); %>
    <!--  -->
    <h2 class="text-center" style="margin: 25px 0; text-decoration: underline">Daftar Keluarga Rayon <%= nama %></h2>
    <div style="display: flex; flex-direction: column; margin: 20px 0; font-weight: bold">
      <div>Tanggal : <%= tanggalCetak %></div>
      <div>Jumlah Keluarga : <%= kks.length %> Keluarga</div>
    </div>

    <table style="table-layout: auto; width: 100%">
      <thead>
        <tr>
          <td style="min-width: 15ch; max-width: 15ch">Nama</td>
          <td style="min-width: 15ch; max-width: 15ch">Alamat</td>
          <td class="text-center" style="max-width: 8ch">Status Nikah</td>
          <td class="text-center">No HP</td>
          <td class="text-center">Kategori Rumah</td>
          <td class="text-center" style="max-width: 8ch">Status Rumah</td>
        </tr>
      </thead>
      <tbody>
        <% for (let i=0; i < kks.length; i++) { %>
        <!--  -->
        <% const kk=kks[i] %>
        <!--  -->
        <tr>
          <td><%= kk.nama %></td>
          <td><%= kk.alamat %></td>
          <td class="text-center"><%= kk.status_nikah %></td>
          <td><%= kk.no_hp %></td>
          <td class="text-center"><%= kk.kategori_rumah %></td>
          <td class="text-center"><%= kk.status_rumah %></td>
        </tr>
        <% } %>
      </tbody>
      <tfoot>
        <tr></tr>
      </tfoot>
    </table>
    <% } else { %>
    <h1 class="text-center">Belum ada keluarga di rayon <%= nama %></h1>
    <% } %>
  </body>
</html>
